/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
  --qwik-dark-blue: #006ce9;
  --qwik-light-blue: #18b6f6;
  --qwik-light-purple: #ac7ff4;
  --qwik-dark-purple: #713fc2;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
 
body {
  background-color: #060522
}

li {
  list-style-type: disc;
}

li div {
  @apply py-5
}

h4 {
  @apply mb-2 text-xl text-slate-100;
}

h4 a{
  @apply flex
}
li div p.details {
  @apply text-sm text-slate-400;
}

li div p {
  @apply text-base
}
